html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
#line{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 0;
    user-select: none;
}
#vline{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 0;
    transform: rotate(90deg);
    user-select: none;
}
#btn {
    width: 200px;
    height: 200px;
    font-size: 25px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 white;
    z-index: 999;
}
#show {
    margin-top: 60px;
    text-align: center;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: gray;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 white;
    z-index: 999;
}
* {
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* // AlirezaLotfiMoghaddam */
